<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Product Description</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
    <app-navbar></app-navbar>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
                              <img [src]="product.images ? product.images[0].src : 'assets/images/no-image.png'" style="height: 400px; width: 350px;">
                          </div>
						</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{product.name}}</h3>
						<p class="product-description">{{product.description}}</p>
                        <h4 class="price">Regular Price: <span>{{product.regular_price |  number : '1.2-2'}} DH</span></h4>
                        <h4 class="price">Sale Price: <span>{{product.sale_price |  number : '1.2-2'}} DH</span></h4>
                        <h4 class="price">Status: <span>{{product.status}}</span></h4>
                        <h4 class="price">Category: <span>{{product.categories[0].name}}</span></h4>
						<p class="vote"></p>
						<h5 class="sizes"></h5>
						<h5 class="colors"></h5>
                    </div>
                    <div class="col-md-2" style="padding-right: 0px;">
                        <button class="btn btn-primary" style="margin-right: 2px;" routerLink="/editproduct/{{product.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn btn-danger" (click)="deleteProduct(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
				</div>
            </div>   
        </div>
    <div style="margin-top: 10px;">
      <button type="button" class="btn btn-outline-secondary pull-right" routerLink="/products">CANCEL</button>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
