<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>products</title>
  </head>
  <body>
    <style>
        .dropdown:hover>.dropdown-menu{
            display: block;
        }
    </style>
    
    <app-navbar></app-navbar>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: small; "> 
        <div class="collapse navbar-collapse" id="navbarNavDropdown" >
          <ul class="navbar-nav" *ngFor="let C of categories" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/categs/{{C.id}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <strong>{{C.name}}</strong>
              </a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="container"> 
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Products</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-4">
                <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: small;" routerLink="/addproduct">Add</button>
              </div>
              <div class="btn-group mr-4">
                <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: small;" (click)="exportexcel()">Export to Excel</button>
              </div>   
            </div>
        </div>
        <ul class="nav nav-tabs" style="font-size: small;">
          <li class="nav-item">
            <a class="nav-link" id="menu1" (click)="recentlyAdded()">Recently added</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="menu2" (click)="lessExpensive()">Less expensive</a>
          </li>
        </ul>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3 col-sm-6" *ngFor="let P of products">
                <div class="product-grid6" style="margin-bottom: 10px;">
                    <div class="product-image6" >
                        <img class="pic-1" [src]="P.images ? P.images[0].src : 'assets/images/no-image.png'">
                    </div>
                    <div class="product-content">
                        <h3 class="title">{{P.name}}</h3>
                        <div class="price">{{P.sale_price |  number : '1.2-2'}} DH	
                            <span>{{P.regular_price}} DH	</span>
                        </div>
                        <p style="font-size: 15px;">{{P.description}}</p>
                    </div>
                    <ul class="social">
                        <li><a routerLink="/productdesc/{{P.id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <table id="excel-table" [hidden]="true">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Regular Price</th>
            <th>Sale Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Category Id</th>
            <th>Images</th>
          </tr>
          <tr *ngFor="let item of products">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.regular_price}}</td>
            <td>{{item.sale_price}}</td>
            <td>{{item.description}}</td>
            <td>{{item.categories[0].name}}</td>
            <td>{{item.categories[0].id}}</td>
            <td>{{item.images[0].src}}</td>
          </tr>
        </table>
    </div>
    <hr>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>




